name: ci

on: push

jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    
    runs-on: ubuntu-latest
    env:
      DOCKER_REGISTRY: docker.io
      DOCKER_IMAGE_NAME: gdrive
      ORGANISATION_NAME: gvfn
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      GITHUB_BRANCH: ${{ github.ref }}
      GOOGLE_SERVICE_ACCOUNT: ${{ secrets.GOOGLE_SERVICE_ACCOUNT }}

    steps:
      - uses: actions/checkout@v1
      - name: set envirnment variables
        run: |
          source <(curl -sL https://github.com/aem-design/aemdesign-docker/releases/latest/download/github_get_config.sh)
      - name: build and test docker image
        run: |
          docker build --pull -t $IMAGE:${GITHUB_BRANCH##*/} .
          docker images
          docker run --rm -v `pwd`:/gdrive -e GOOGLE_SERVICE_ACCOUNT=${GOOGLE_SERVICE_ACCOUNT} $IMAGE:${GITHUB_BRANCH##*/} --config /gdrive --service-account-evar GOOGLE_SERVICE_ACCOUNT list
      - name: login to docker registry
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login ${DOCKER_REGISTRY} -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      - name: push image version
        run: docker push $IMAGE:${GITHUB_BRANCH##*/}        

      - name: update registry description with readme on master
        run: |
          docker run --rm -v $(pwd):/data/ aemdesign/dockerhub-description "$DOCKER_USERNAME" "$DOCKER_PASSWORD" "$ORGANISATION_NAME/$DOCKER_IMAGE_NAME"
